<!DOCTYPE html>
<html lang="en">

<head>
	<title>ORDERS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/vendor/perfect-scrollbar/perfect-scrollbar.css">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/cartstyle/css/util.css">
	<link rel="stylesheet" type="text/css" href="/cartstyle/css/main.css">
	<!--===============================================================================================-->



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../assets/img/favicon/fav.png">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css">

  <!-- Core CSS -->
  <link rel="stylesheet" href="../assets/vendor/css/core.css">
  <link rel="stylesheet" href="../assets/vendor/css/theme-default.css">
  <link rel="stylesheet" href="../assets/css/demo.css">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/main/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/main/img/favicon.png">
  <title>
    Material Dashboard 2 by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/main/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/main/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/main/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
  <!-- Custom CSS -->
 




</head>

<style>
  @media screen and (max-width: 768px) {
          .sidenav {
              display: none;
          }

          .container {
              margin-left: 0;
          }
      }

      @media screen and (max-width: 576px) {
          .card-header {
              font-size: 1rem;
          }

          .table-responsive {
              overflow-x: auto;
          }
      }
  body {
    font-family: 'Public Sans', sans-serif;
    background-color: #f9f9f9;
  }

  .page-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .card-header {
    font-size: 18px;
    font-weight: bold;
  }

  .table th {
    font-weight: bold;
    background-color: #f5f5f5;
    border-color: #dee2e6;
  }

  .table td,
  .table th {
    vertical-align: middle !important;
  }

  .btn-sm {
    padding: 4px 10px;
    font-size: 14px;
  }

  .text-success {
    color: #28a745 !important;
  }

  .text-warning {
    color: #ffc107 !important;
  }

  .text-muted {
    color: #6c757d !important;
  }

  .footer {
    color: #fff;
    background-color: #343a40;
    padding: 10px;
    text-align: center;
  }

  .footer-link {
    color: #fff;
  }
  .table-responsive {
  overflow-x: auto;
  overflow-y: hidden;
}

.table {
  table-layout: fixed;
}

.table thead th {
  white-space: nowrap;
}
</style>
     
<body class="g-sidenav-show  bg-gray-200">
  <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/material-dashboard/pages/dashboard " target="_blank">
        <img src="/main/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">HELLO NIDHIN</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white " href="/adminHome">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">dashboard</i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white  " href="/admin/users">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    people_outline
                    </span>
            </div>
            <span class="nav-link-text ms-1">USERS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/category">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    category
                    </span>
            </div>
            <span class="nav-link-text ms-1">CATEGORY</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/admin/products"">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    inventory
                    </span>
            </div>
            <span class="nav-link-text ms-1">PRODUCT</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/coupons">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    local_offer
                    </span>
                    
            </div>
            <span class="nav-link-text ms-1">COUPONS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/orders">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    local_shipping
                    </span>
            </div>
            <span class="nav-link-text ms-1 active bg-gradient-primary">ORDERS</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/banner">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    local_shipping
                    </span>
            </div>
            <span class="nav-link-text ms-1">BANNER</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/offer">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <span class="material-icons">
                    local_shipping
                    </span>
            </div>
            <span class="nav-link-text ms-1">OFFER</span>
          </a>
        </li>
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account pages</h6>
        </li>
       
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/sign-in.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">login</i>
            </div>
            <span class="nav-link-text ms-1">Sign In</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="./pages/sign-up.html">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="material-icons opacity-10">assignment</i>
            </div>
            <span class="nav-link-text ms-1"></span>
          </a>
        </li>
      </ul>
    </div>
  
  </aside>
    <div class="container">
      <div class="card">
        <div class="card-header">Orders</div>
        <div class="card-body">
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Payment Method</th>
                  <th>Status</th>
                  <th>Order Price</th>
                  <th>Address</th>
                </tr>
              </thead>
              <tbody>
                <% order.forEach(function(order) { %>
                <tr>
                  <td><%= order.orderId %></td>
                  <td><%= order.date.toLocaleDateString('en-US', {year: 'numeric', month: 'short', day: 'numeric'}) %> <%= order.date.toLocaleTimeString('en-US', {hour: 'numeric', minute:'numeric'}) %></td>
                  <td>
                    <span class="text-warning">COD</span>
                  </td>
                  <td>
                    <select onchange="changestatus(event, '<%= order._id %>')">
                      <option value="Placed" <%= order.status === 'Placed' ? 'selected' : '' %>>Placed</option>
                      <option value="Shipping" <%= order.status === 'Shipping' ? 'selected' : '' %>>Shipping</option>
                      <option value="Delivered" <%= order.status === 'Delivered' ? 'selected' : '' %>>Delivered</option>
                      <option value="Cancelled" <%= order.status === 'Cancelled' ? 'selected' : '' %>>Cancelled</option>
                    </select>
                  </td>
                  <td><%= order.total ? order.total : order.subtotal %></td>
                  <td><%= order.addressId %></td>
                </tr>
                <td> <a href="/view-product?id=<%=order._id%>" class="btn-sm btn-success">View</a> </td>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <style>
      body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
    
      .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 20px;
      }
    
      .card-header {
        background-color: #007bff;
        color: #fff;
        font-size: 18px;
        padding: 10px;
        border-radius: 4px 4px 0 0;
      }
    
      .card-body {
        padding: 20px;
      }
    
      table {
        width: 100%;
        border-collapse: collapse;
      }
    
      th,
      td {
        padding: 10px;
        text-align: left;
      }
    
      th {
        background-color: #007bff;
        color: #fff;
        font-weight: bold;
      }
    
      tbody tr:nth-child(odd) {
        background-color: #f8f9fa;
      }
    
      select {
        width: 100%;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
      }
    </style>

  <!-- Core JS -->
  <script src="../assets/vendor/libs/jquery/jquery.js"></script>
  <script src="../assets/vendor/libs/popper/popper.js"></script>
  <script src="../assets/vendor/js/bootstrap.js"></script>
  <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.13.4/sp-2.1.2/datatables.min.js"></script>



<script>
  function changestatus(event, id) {
      fetch('/updateStatus', {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json'
          },
          body: JSON.stringify({ statusvalue: event.target.value, id: id })
      })
          .then(function (response) {
              if (response.ok) {
                  console.log('Status updated successfully');
              } else {
                  console.error('Failed to update status');
              }
          })
          .catch(function (error) {
              console.error('Error:', error);
          });
  }

</script>



  <!-- Custom JS -->
  <script>
    $(document).ready(function () {
      $('#myTable').DataTable({
        lengthChange: false, // Disable page size change
        searching: false, // Disable search bar
        ordering: true, // Enable column ordering
        info: false, // Disable table information
        responsive: true, // Enable responsive design
        language: {
          paginate: {
            previous: '<i class="bx bx-chevron-left"></i>',
            next: '<i class="bx bx-chevron-right"></i>'
          }
        }
      });
    });
  </script>


</body>

</html>
