<!DOCTYPE html>
<html lang="en">


	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	<!--===============================================================================================-->
</head>
<!-- <style>
	*{
		font-family: "Poppins Medium", sans-serif;
    font-size: 14px;
	}
</style> -->

<body class="animsition">





	<!-- Header -->
	<% if(typeof user !="undefined" ){ %>
		<%-include('userlogged') %>
			<%}else{%>
				<%-include('usernotlogged') %>
					<%}%>

						<!-- Cart -->
						<!-- <div class="wrap-header-cart js-panel-cart">
							<div class="s-full js-hide-cart"></div>

							<div class="header-cart flex-col-l p-l-65 p-r-25">
								<div class="header-cart-title flex-w flex-sb-m p-b-8">
									<span class="mtext-103 cl2">
										Your Cart
									</span>

									<div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
										<i class="zmdi zmdi-close"></i>
									</div>
								</div>

								<div class="header-cart-content flex-w js-pscroll">
									<ul class="header-cart-wrapitem w-full">
										<li class="header-cart-item flex-w flex-t m-b-12">
											<div class="header-cart-item-img">
												<img src="images/item-cart-01.jpg" alt="IMG">
											</div>

											<div class="header-cart-item-txt p-t-8">
												<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
													White Shirt Pleat
												</a>

												<span class="header-cart-item-info">
													1 x $19.00
												</span>
											</div>
										</li>

										<li class="header-cart-item flex-w flex-t m-b-12">
											<div class="header-cart-item-img">
												<img src="images/item-cart-02.jpg" alt="IMG">
											</div>

											<div class="header-cart-item-txt p-t-8">
												<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
													Converse All Star
												</a>

												<span class="header-cart-item-info">
													1 x $39.00
												</span>
											</div>
										</li>

										<li class="header-cart-item flex-w flex-t m-b-12">
											<div class="header-cart-item-img">
												<img src="images/item-cart-03.jpg" alt="IMG">
											</div>

											<div class="header-cart-item-txt p-t-8">
												<a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
													Nixon Porter Leather
												</a>

												<span class="header-cart-item-info">
													1 x $17.00
												</span>
											</div>
										</li>
									</ul>

									<div class="w-full">
										<div class="header-cart-total w-full p-tb-40">
											<!-- Total: $<%= cartProducts.totalPrice%> -->
						<!-- </div> -->

						<!-- <div class="header-cart-buttons flex-w w-full">
											<a href="shoping-cart.html"
												class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
												View Cart
											</a>

											<a href="shoping-cart.html"
												class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
												Check Out
											</a>
										</div>
									</div>
								</div>
							</div>
						</div> -->


						<!-- breadcrumb -->

						</head>

						<body>
							<div class="container">
								<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
									<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
										Home
										<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
									</a>

									<span class="stext-109 cl4">
										Shopping Cart
									</span>
								</div>
							</div>

							<section class="h-100 h-custom">
								<div class="container py-5 h-100">
									<div class="row d-flex justify-content-center align-items-center h-100">
										<div class="col-12">
											<br><br><br>
											<div class="card card-registration card-registration-2"
												style="border-radius: 15px;">
												<div class="card-body p-0">
													<div class="row g-0">
														<div class="col-lg-8">
															<div class="p-5">
																<div
																	class="d-flex justify-content-between align-items-center mb-5">
																	<h1 class="fw-bold mb-0 text-black">Shopping Cart
																	</h1>
																	<h6 class="mb-0 text-muted">
																		<%= length %> items
																	</h6>
																</div>
																<hr class="my-4">
																<% if (length) { %>
																	<% cartProducts.forEach(function(product) { %>
																		<form action="/loadcheckout" method="post">
																			<div
																				class="row mb-4 d-flex justify-content-between align-items-center">
																				<div class="col-md-2 col-lg-2 col-xl-2">
																					<img src="/uploads/<%= product.images[0] %>"
																						class="img-fluid rounded-3"
																						style="width: auto;height: auto;">
																				</div>
																				<div class="col-md-3 col-lg-3 col-xl-3">
																					<h6 class="text-black mb-0">
																						<%= product.productName %>
																					</h6>
																					<br>
																					<% if (product.stock===0) { %>
																						<h6 class="mb-0 text-red">Out of
																							stock</h6>
																						<% } %>
																				</div>
																				<h6 class="mb-0">&nbsp;&nbsp;<%=
																						product.price %>
																				</h6>
																				<div
																					class="col-md-3 col-lg-3 col-xl-2 d-flex">
																					<a class="btn btn-primary text-white"
																						onclick="this.parentNode.querySelector('input[type=number]').stepDown();validateData('<%= product._id %>');updateCartQuantity('<%= product._id %>', this.parentNode.querySelector('input[type=number]').value);">
																						&nbsp;-&nbsp;
																					</a>
																					&nbsp;&nbsp;
																					<div class="form-outline">
																						<% const
																							cartItem=user.cart.find(item=>
																							item.productId ===
																							product._id); %>
																							<input style="width: 5rem;"
																								class="form-control"
																								type="number"
																								id="<%= product._id %>"
																								min="1" name="quantity"
																								pattern="<%= product._id %>"
																								max="<%= product.stock %>"
																								value="<%= cartItem ? cartItem.quantity : product.quantity %>"
																								onchange="updateCartQuantity('<%= product._id %>', this.value);validateData('<%= product._id %>')"
																								readonly />
																							<span
																								id="price_text_<%= product._id %>"
																								hidden>
																								<%= product.price %>
																							</span>
																					</div>
																					&nbsp;&nbsp;
																					<a class="btn btn-primary text-white"
																						onclick="this.parentNode.querySelector('input[type=number]').stepUp();validateData('<%= product._id %>');updateCartQuantity('<%= product._id %>', this.parentNode.querySelector('input[type=number]').value);">
																						&nbsp;+&nbsp;
																					</a>
																					<div class="form-outline">
																						<div
																							class="fs-lg text-accent pt-2 price">
																							<div id="get">
																								<p id="actual_price_<%= product._id %>"
																									hidden>
																									<%= product.price %>
																								</p>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div
																					class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
																				</div>
																				<div
																					class="col-md-1 col-lg-1 col-xl-1 text-end">
																					<button
																						style="border:none;background-color:white;"
																						onclick="removeCartProduct('<%= product._id %>')">
																						<a href="" class="text-muted">
																							<i class="fa fa-trash-o"
																								style="font-size:36px;color:rgb(190, 0, 0)"></i>
																						</a>
																					</button>
																				</div>
																			</div>
																			<% }) %>
																			<% } else { %>
																				<img src="/uploads/empty-cart.gif"
																					alt=""
																					style="width: 23vw;height: 23vh;">
																				<span>CART IS EMPTY</span>
																				<% } %>
																						<hr class="my-4">
																						<div class="pt-5">
																							<h6 class="mb-0">
																								<a href="/"
																									class="text-body">
																									<i
																										class="fas fa-long-arrow-alt-left me-2"></i>Back
																									to shop
																								</a>
																							</h6>
																						</div>
															</div>
														</div>
														
														<div class="col-lg-4 bg-grey">
															<div class="p-5">
																<h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
																<hr class="my-4">
																<div class="d-flex justify-content-between mb-4">
																	<h5 class="text-uppercase">Items: <%= length %>
																	</h5>
																	<h3 id="subtotal" class="fw-normal subtotal-text">
																		<%= subtotal %>
																	</h3>
																</div>
																<h5 class="text-uppercase mb-3">SHIPPING FREE</h5>
																<hr class="my-4">
																<div class="d-flex justify-content-between mb-5">
																	<h5 class="text-uppercase">Total price</h5>
																	<h2 id="sub" class="fw-normal total-price-text">
																		<%= subtotal %>
																	</h2>
																</div>
																<% if (!subtotal) { %>
																	<button type="button"
																		class="btn btn-primary btn-lg btn-block disabled">Checkout</button>
																	<% } else { %>
																		<button type="submit"
																			class="btn btn-primary btn-lg btn-block">Checkout</button>
																		</form>
																		<% } %>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>



							</div>

							

							<style>

								
								.remove-item {
									color: #ff0000;
									cursor: pointer;
									text-decoration: none;
								}

								.remove-item:hover {
									text-decoration: underline;
								}

								.remove-button {
									color: #ffffff;
									background-color: #ff0000;
									cursor: pointer;
									padding: 10px 20px;
									border-radius: 5px;
									transition: background-color 0.3s ease;
								}

								.remove-button:hover {
									background-color: #cc0000;
								}

								/* Responsive Styles */
								@media (max-width: 992px) {
									.card-registration {
										border-radius: 0;
									}

									.card-registration-2 .row.g-0 .col-lg-8 {
										padding-right: 0;
									}

									.card-registration-2 .row.g-0 .col-lg-4 {
										padding-left: 0;
									}
								}

								* {
									font-family: 'Poppins', sans-serif;
								}

								.text-black {
									color: #000000 !important;
								}

								.text-muted {
									color: #6c757d !important;
								}

								.text-red {
									color: red !important;
								}

								.bg-grey {
									background-color: #f8f9fa !important;
								}

								.btn-primary {
									color: #ffffff !important;
									background-color: #007bff !important;
									border-color: #007bff !important;
								}

								.btn-primary:hover {
									background-color: #0056b3 !important;
								}

								.btn-primary:focus,
								.btn-primary.focus {
									box-shadow: 0 0 0 0.25rem rgba(38, 143, 255, 0.5) !important;
								}
							</style>

							<!-- Footer -->

							<script>
								async function removeCartProduct(cartProductId) {
									try {
										const response = await fetch('/removeproduct/' + cartProductId, {
											method: 'DELETE',
											headers: {
												'Content-Type': 'application/json'
											}
										});
										const data = await response.json();
										if (data === 'success') {
											window.location.reload();
										}
									} catch (error) {
										console.log(error);
									}
								}




								function validateData(id) {
									const element = document.getElementById(id);
									const priceText = document.getElementById('price_text_' + id);
									const price = document.getElementById('actual_price_' + id);
									const subtotal = document.getElementsByClassName('subtotal-text')[0];
									const total = document.getElementsByClassName('total-price-text')[0];

									if (Number(element.value) > Number(element.max)) {
										element.value = element.max;
									}

									const oldPrice = parseFloat(priceText.innerHTML);
									const newPrice = parseFloat(price.innerHTML) * parseFloat(element.value);
									const diff = newPrice - oldPrice;

									priceText.innerHTML = newPrice.toFixed(2);
									subtotal.innerHTML = (parseFloat(subtotal.innerHTML) + diff).toFixed(2);
									total.innerHTML = (parseFloat(total.innerHTML) + diff).toFixed(2);
								}


								async function proceedTocheckout() {
									const quantity = Object.values(document.getElementsByName('quantity')).map((cartProduct) => (
										{

											cartProductid: cartProduct.id,
											quantity: cartProduct.value
										}
									))

									let response = await fetch('/loadcheckout', {
										method: 'post',
										headers: { 'Content-Type': 'application/json', },
										body: JSON.stringify(quantity)
									});

								}

								function updateCartQuantity(productId, quantity) {
									fetch(`/cart/update/${productId}`, {
										method: 'POST',
										body: JSON.stringify({ quantity }),
										headers: {
											'Content-Type': 'application/json'
										}
									})
										.then(response => {

											if (!response.success) {
												throw new Error('Failed to update cart quantity');
											}
											return response.json();
										})
										.then(data => {
											// Update the UI to reflect the new cart data
											// For example, update the quantity displayed next to the product
											const quantityInput = document.querySelector(`input[name=quantity][pattern=${productId}]`);
											quantityInput.value = data.quantity;
										})
										.catch(error => {
											console.error(error);
										});
								}



							</script>


							</script>

							<!-- Back to top -->
							<div class="btn-back-to-top" id="myBtn">
								<span class="symbol-btn-back-to-top">
									<i class="zmdi zmdi-chevron-up"></i>
								</span>
							</div>

							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/jquery/jquery-3.2.1.min.js"></script>
							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/animsition/js/animsition.min.js"></script>
							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/bootstrap/js/popper.js"></script>
							<script src="/cartstyle/vendor/bootstrap/js/bootstrap.min.js"></script>
							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/select2/select2.min.js"></script>
							<script>
								$(".js-select2").each(function () {
									$(this).select2({
										minimumResultsForSearch: 20,
										dropdownParent: $(this).next('.dropDownSelect2')
									});
								})
							</script>
							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
							<!--===============================================================================================-->
							<script src="/cartstyle/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
							<script>
								$('.js-pscroll').each(function () {
									$(this).css('position', 'relative');
									$(this).css('overflow', 'hidden');
									var ps = new PerfectScrollbar(this, {
										wheelSpeed: 1,
										scrollingThreshold: 1000,
										wheelPropagation: false,
									});

									$(window).on('resize', function () {
										ps.update();
									})
								});
							</script>
							<!--===============================================================================================-->
							<script src="/cartstyle/js/main.js"></script>

						</body>

</html>