<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Ashion Template" />
    <meta name="keywords" content="Ashion, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>checkout</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="/newcheck/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/newcheck/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="/newcheck/css/style.css" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <!--  -->

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.png" />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap"
      rel="stylesheet"
    />

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/cartstyle/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/cartstyle/css/main.css" />
    
  </head>
<style>
  .wrap-menu-desktop {
    position: fixed;
    z-index: 1100;
    background-color: transparent;
    background-color: white;
    width: 100%;
    /* height: 84px; */
    top: 0px;
    left: 0px;
    -webkit-transition: height 0.3s, background-color 0.3s;
    -o-transition: height 0.3s, background-color 0.3s;
    -moz-transition: height 0.3s, background-color 0.3s;
    transition: height 0.3s, background-color 0.3s;
}
</style>
  <body>
    <!-- Page Preloder -->
    <% if(typeof user !="undefined" ){ %> <%-include('userlogged') %> <%}else{%>
      <%-include('usernotlogged') %> <%}%>

    <!-- Checkout Section Begin -->
    <style>
      
    </style>
    <section class="checkout spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h6 class="coupon__link">
            </h6>

          </div>
        </div>
        <!-- 111111111 -->
        <div class="row">
          <div class="col-lg-8">
            <h5>Billing detail</h5>

            <div class="container">
              <div class="row billing-fields">
                <div
                  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom"
                >
                  <div class="create-ac-content bg-light-gray padding-20px-all">
                    <br /><br />
                    <% if (address) { %>
                    <div class="address-container">
                      <!-- Added container div -->
                      <% for (i = 0; i < address.length; i++) { %>
                      <div class="col mb-4">
                        <div class="card shadow-sm">
                          <div class="card-body">
                            <label class="radio-container">
                              <input
                                type="radio"
                                class="radios"
                                id="address_<%= i %>"
                                name="address"
                                value="<%= address[i].name %>, <%=address[i].house %>, <%= address[i].city %>, <%= address[i].state %>, <%= address[i].pincode %>, <%= address[i].mobile %>"
                                required
                              />
                              <span class="checkmark"></span>
                            </label>
                            <h3 class="mb-3"><%= address[i].name %></h3>
                            <p>
                              <i class="fas fa-phone-alt"></i> <%=
                              address[i].mobile %>
                            </p>
                            <p><%= address[i].email %></p>
                            <p><%= address[i].city %></p>
                            <p><%= address[i].state %></p>
                            <p><%= address[i].pincode %></p>

                            <div class="d-flex justify-content-between mt-4">
                              <!-- <a
                                class="btn btn-success"
                                href="/edit-checkOutAddress?id=<%=address[i]._id%>"
                                >Edit</a
                              > -->
                              <a
                                onclick="removeaddress('<%= address[i]._id %>')"
                                class="btn btn-danger"
                                >Delete</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                    </div>
                    <!-- End of address-container -->
                    <% } else { %>
                    <div>
                      <p>No Address Found. Please add Address.</p>
                    </div>
                    <% } %>
                    <br />
                    <div class="d-flex justify-content-left mb-2">
                      <a href="/checkout-address" class="btn btn-outline-dark"
                        ><strong>Add new Address</strong></a
                      >
                    </div>
<style>

  .coupon-section {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 20px;
  }

  .coupon-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .coupon-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .coupon-input input[type="text"] {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .apply-coupon-btn {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .coupon-dropdown select {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }





  .coupon_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .coupon_item {
    position: relative;
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform 0.3s;
  }

  .coupon_item:hover {
    transform: translateY(-5px);
  }

  .coupon_code {
    font-weight: bold;
  }

  .coupon_name {
    font-size: 14px;
    color: #666;
  }

  .coupon_percentage {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
  }

  .coupon_item .tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
  }

  .coupon_item:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }





</style>





<div class="cupon_area">
  <div class="check_title">
    <label for="couponSelect">Select Coupon:</label>
  </div>
  <div id="couponList" class="coupon_list">
    <% for (let i = 0; i < coupon.length; i++) { %>
      <div class="coupon_item">
        <span class="coupon_code"><%= coupon[i].code %></span>
        <span class="coupon_name"><%= coupon[i].name %></span>
        <span class="coupon_percentage"><%= coupon[i].percentage %>% off</span>
      </div>
    <% } %>
  </div>
  <input type="text" name="coupon" id="couponcode" class="w-75" placeholder="Enter coupon code">
  <button class="btn bg-warning" onclick="checkCoupon()">Apply Coupon</button>
  <!-- <button class="btn btn-danger" onclick="deleteCoupon()">Delete Coupon</button> -->
  <span id="errorMessage"></span>
</div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="checkout__order">
              <h5>Your order</h5>
              <div class="checkout_order_product">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Product Name</th>
                      <th scope="col">Quantiy</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% productDetails.forEach(function(product) { %>
                      <tr>
                        <td scope="row">
                          <%= product.productName %>
                        </td>
                        <td>
                          <%= product.quantity %>
                        </td>
                        <td>
                          <%= product.price %>
                        </td>
                        <input type="hidden" name="productid"
                          value="<%= product._id %>">
                        <input type="hidden" name="productname"
                          value="<%= product.productName %>">
                        <input type="hidden" name="price"
                          value="<%= product.price %>">
                        <input type="hidden" name="quantity"
                          value="<%= product.quantity %>">
                      </tr>
                      <% }); %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>Total</td>
                      <td></td>
                      <td>
                        <%= subtotal %>
                      </td>
                      <input type="hidden" id="subtotal" value="<%= subtotal %>">
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div>
              <li class="list-group-item d-flex justify-content-between align-items-center px-0 hide-element">
                
                <h4 id="offer" class="fw-normal" style="display: none;">
                  <%= offer %>%
                </h4>
              </li>
              
              
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                <div>
                  <strong> GRAND Total </strong>
                </div>
                <h3 id="gtotal" class="fw-normal">
                  <%= total %>
                </h3>
                <input type="hidden" id="ftotal" value="<%= total %>">
              </li>
            </div>
            <div class="payment-method">
              <div class="form-check">
                <input
                  onclick="enableButton()"
                  class="form-check-input"
                  type="radio"
                  name="payment"
                  id="COD"
                  value="1"
                />
                <label class="form-check-label" for="COD">
                  Cash On Delivery
                </label>
                <div>
                  <input
                    onclick="enableButton()"
                    class="form-check-input"
                    type="radio"
                    name="payment"
                    id="rzp-button1"
                    value="2"
                  />
                  <label class="form-check-label" for="rzp-button1">
                    RazorPay
                  </label>
                </div>
                <div>
                  <input
                    onclick="enableButton()"
                    class="form-check-input"
                    type="radio"
                    name="payment"
                    id="wallet"
                    value="3"
                  />
                  <label class="form-check-label" for="wallet">
                    Wallet <%= userdata.wallet %>
                    <input type="hidden" id="userwallet" value="<%= userdata.wallet %>">
                  </label>
                </div>
            
                <div class="order-button-payment">
                  <button
                    class="btn"
                    onclick="CheckplaceOrder(<%= JSON.stringify(userdata)%>)"
                    value="Place order"
                    id="placeOrderButton"
                    disabled
                  >
                    Place order
                  </button>
                </div>
                <input type="hidden" name="radioValue" />
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </section>

    <style>
      
      .order-button-payment {
        text-align: center;
        margin-top: 20px;
      }

      .btn {
        display: inline-block;
        background-color: #4caf50;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #45a049;
      }

      .btn:disabled {
        background-color: #9e9e9e;
        cursor: not-allowed;
      }
    </style>

    <!-- Checkout Section End -->

    <!-- Instagram Begin -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Categories</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Women </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Men </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Watches </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Help</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Track Order
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Returns </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Shipping
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

            <p class="stext-107 cl7 size-201">
              Any questions? Let us know in store at 8th floor, 379 Hudson St,
              New York, NY 10018 or call us on (+1) 96 716 6879
            </p>

            <div class="p-t-27">
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-instagram"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

            <form>
              <div class="wrap-input1 w-full p-b-4">
                <input
                  class="input1 bg-none plh1 stext-107 cl7"
                  type="text"
                  name="email"
                  placeholder="email@example.com"
                />
                <div class="focus-input1 trans-04"></div>
              </div>

              <div class="p-t-18">
                <button
                  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="p-t-40">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-01.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-02.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-03.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-04.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-05.png" alt="ICON-PAY" />
            </a>
          </div>

          <p class="stext-107 cl6 txt-center">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | Made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp;
            distributed by
            <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>


    <script>
       function selectCoupon(couponId) {
    const couponItems = document.getElementsByClassName('coupon_item');
    for (let i = 0; i < couponItems.length; i++) {
      couponItems[i].classList.remove('selected');
    }

    const selectedCoupon = document.getElementById(couponId);
    selectedCoupon.classList.add('selected');
  }
    </script>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->

    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="/newcheck/js/jquery-3.3.1.min.js"></script>
    <script src="/newcheck/js/bootstrap.min.js"></script>
    <script src="/newcheck/js/jquery.magnific-popup.min.js"></script>
    <script src="/newcheck/js/jquery-ui.min.js"></script>
    <script src="/newcheck/js/mixitup.min.js"></script>
    <script src="/newcheck/js/jquery.countdown.min.js"></script>
    <script src="/newcheck/js/jquery.slicknav.js"></script>
    <script src="/newcheck/js/owl.carousel.min.js"></script>
    <script src="/newcheck/js/jquery.nicescroll.min.js"></script>
    <script src="/newcheck/js/main.js"></script>
  </body>

  <script>

let userdata = {};
let Rtotal = 0; // Initialize Rtotal with 0
let addressId;
let payment;

function enableButton() {
  var radioButtons = document.getElementsByName("address");
  for (var i = 0; i < radioButtons.length; i++) {
    radioButtons[i].addEventListener("click", function () {
      var id = this.id;
      addressId = document.getElementById(id).value;
      checkPlaceOrderButton();
    });
  }
}

function checkPlaceOrderButton() {
  if (addressId && payment) {
    document.getElementById("placeOrderButton").disabled = false;
  } else {
    document.getElementById("placeOrderButton").disabled = true;
  }
}

document.getElementById("placeOrderButton").addEventListener("click", function (event) {
  if (!addressId) {
    event.preventDefault();
    Swal.fire({
      text: "Please select an address before placing the order.",
      icon: "error",
      showConfirmButton: false,
      customClass: {
        icon: "fas fa-map-marker-alt swal-icon-marker",
      },
      timer: 1000,
    });
  } else {
    CheckplaceOrder(userdata);
  }
});

// Add an event listener to the payment options
var paymentOptions = document.getElementsByName("payment");
for (var i = 0; i < paymentOptions.length; i++) {
  paymentOptions[i].addEventListener("click", function () {
    payment = this.value;
    checkPlaceOrderButton();
  });
}

// Call the enableButton function initially
enableButton();

async function CheckplaceOrder(userdata) {
  payment = Object.values(document.getElementsByName("payment"))
    .filter((item) => (item.checked ? item : ""))
    .map((item) => item.value);

  if (payment[0] === "1" && addressId) {
    placeOrder(userdata);
  } else if (payment[0] === "2" && addressId) {
    // Razorpay payment logic
    var orderId;

    Rtotal = Number(document.getElementById("ftotal").value);
    var settings = {
      url: "/create/orderId",
      method: "POST",
      timeout: 0,
      headers: {
        "Content-Type": "application/json",
      },
      data: JSON.stringify({
        amount: Rtotal * 100, // CHANGE THE AMOUNT AS NEEDED
      }),
    };

    // Creates new orderId
    $.ajax(settings).done(function (response) {
      orderId = response.orderId;
      console.log(orderId);

      var options = {
        key:"rzp_test_wGbm1yWaFa8Vyh", // Replace with your actual Razorpay key
        amount: Rtotal * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        currency: "INR",
        name: "WATCHES",
        description: "Branded WATCHES",
        image: "https://cdn.dribbble.com/userupload/4010027/file/original-97d4d3b76f21016863183116d90fa2b5.png?compress=1&resize=752x",
        order_id: orderId, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        handler: function (response) {
          var settings = {
            url: "/api/payment/verify",
            method: "POST",
            timeout: 0,
            headers: {
              "Content-Type": "application/json",
            },
            data: JSON.stringify({ response }),
          };

          $.ajax(settings).done(function (response) {
            placeOrder(userdata);
          });
        },
        theme: {
          color: "#dc90ea",
        },
      };
      var rzp1 = new Razorpay(options);
      rzp1.on("payment.failed", function (response) {
        // Handle failed payment
      });
      rzp1.open();
    });
  } else if (payment[0] === "3" && addressId) {
    const walletBalance = Number(document.getElementById("userwallet").value);
    const subtotal = Number(document.getElementById("subtotal").value);
    const offer = Number(document.getElementById("offer").innerHTML) || 0;
    const gtotal = subtotal - offer + Rtotal;

    if (walletBalance >= gtotal) {
      Swal.fire({
        title: "Confirmation",
        text: "Are you sure you want to proceed with wallet payment?",
        icon: "question",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes",
        cancelButtonText: "No",
      }).then(async (result) => {
        if (result.isConfirmed) {
          // Proceed with wallet payment
          placeOrder(userdata);
        }
      });
    } else {
      // Insufficient wallet balance
      Swal.fire({
        title: "Insufficient Balance",
        text: "Your wallet balance is insufficient. Please choose another payment method.",
        icon: "error",
      });
    }
  }
}

async function placeOrder(userdata) {
  const productid = Object.values(document.getElementsByName("productid")).map((item) => item.value);
  const productname = Object.values(document.getElementsByName("productname")).map((item) => item.value);
  const price = Object.values(document.getElementsByName("price")).map((item) => item.value);
  const quantity = Object.values(document.getElementsByName("quantity")).map((item) => item.value);

  let couponcode = document.getElementById("couponcode").value;

  const data = {
    productid: productid,
    productname: productname,
    price: price,
    quantity: quantity,
    addressId: addressId,
    payment: payment[0],
    subtotal: Number(document.getElementById("subtotal").value),
    coupon: couponcode,
    userdata: userdata,
  };

  try {
    let orderplacement = await fetch("/place-order", {
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    });

    let res = await orderplacement.json();

    if (res.res === "success") {
      Swal.fire({
        title: "Success",
        text: "Item ordered successfully!",
        icon: "success",
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "OK",
        timer: 3000,
      }).then((res) => {
        window.location.href = "/success";
      });
    } else {
      Swal.fire({
        title: "Something went wrong",
        text: "Something went wrong!",
        icon: "failure",
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "OK",
        timer: 3000,
      }).then((res) => {
        window.location.href = "/";
      });
    }
  } catch (error) {
    console.log(error);

  }
  
}
async function checkCoupon() {
  const coupon = document.getElementById("couponcode").value;
  const total = document.getElementById("subtotal").value;

  let valCoupon = await fetch("/validateCoupon", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ code: coupon, total: total }),
  });

  let response = await valCoupon.json();

  if (response === "fail") {
    // Invalid coupon
    document.getElementById("errorMessage").innerHTML = "Coupon Invalid";

    // SweetAlert notification for invalid coupon
    Swal.fire({
      icon: "error",
      title: "Invalid Coupon",
      text: "The coupon you entered is invalid. Please try again.",
    });
  } else {
    Rtotal = response.gtotal;

    let offer = Number(document.getElementById("offer").innerHTML) || 0;
    let subtotal = Number(document.getElementById("subtotal").value) || 0;
    let gtotal = Number(document.getElementById("gtotal").innerHTML) || 0;
console.log(gtotal,">>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>");
    if (offer > 0) {
      console.log("subtotototootot",subtotal);
      subtotal = subtotal - offer;
      console.log("afterrrrrr",subtotal);
      document.getElementById("subtotal").value = subtotal.toFixed(2);
      document.getElementById("offer").innerHTML = "0.00";
    }

    document.getElementById("gtotal").innerHTML = Rtotal.toFixed(2);
    document.getElementById("ftotal").value = Rtotal.toFixed(2);

    document.getElementById("errorMessage").innerHTML = "";

    // SweetAlert notification for successful coupon application
    Swal.fire({
      icon: "success",
      title: "Coupon Applied",
      text: "Congratulations! Your coupon has been applied successfully.",
    });
  }
}

function deleteCoupon() {
      var couponSelect = document.getElementById("couponSelect");
      var selectedCoupon = couponSelect.value;

      if (selectedCoupon) {
        var confirmation = confirm("Are you sure you want to delete the selected coupon?");

        if (confirmation) {
          // Simulating deletion by removing the option from the select element
          var optionToRemove = couponSelect.querySelector('option[value="' + selectedCoupon + '"]');
          if (optionToRemove) {
            couponSelect.removeChild(optionToRemove);
            alert("Coupon deleted successfully!");
          }
        }
      } else {
        alert("No coupon selected!");
      }
    }


  </script>
  <script>
    const removeaddress = async (addressId) => {
      // Show a confirmation dialog using SweetAlert2
      Swal.fire({
        title: "Are you sure?",
        text: "This address will be removed from your checkout page!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "Cancel",
      }).then((result) => {
        // If the user confirms the deletion
        if (result.value) {
          // Send a POST request to remove the product from the backend
          fetch("/removeaddress-checkoutpage", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              addressId: addressId,
            }),
          })
            .then((response) => response.json())
            .then((result) => {
              console.log(result); // Log the response to the console
              if (result.res == "success") {
                // Show a success message using SweetAlert2
                Swal.fire(
                  "Deleted!",
                  "This address has been removed from your checkout page.",
                  "success"
                ).then(() => {
                  // Reload the page after the success message is shown
                  window.location.href = window.location.href;
                });
              } else {
                // If there is an error, show an error message using SweetAlert2
                Swal.fire(
                  "Error",
                  "There was an error removing the address from your checkout page.",
                  "error"
                );
              }
            })
            .catch((error) => {
              console.log(error); // Log any errors to the console
              // Show an error message using SweetAlert2
              Swal.fire(
                "Error",
                "There was an error removing the address from your checkout page.",
                "error"
              );
            });
        }
      });
    };
  </script>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</html>