<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/proddetail/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="path/to/lightbox.css">
	<script src="path/to/lightbox.js"></script>
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/proddetail/css/util.css">
	<link rel="stylesheet" type="text/css" href="/proddetail/css/main.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <title>Checkout</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    </head>

    <body>
        <% if(typeof user !="undefined" ){ %>
            <%-include('userlogged') %>
                <%}else{%>
                    <%-include('usernotlogged') %>
                        <%}%>
      
                        <style>
                            .main {
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              height: 100vh;
                            }
                            
                            .profile {
                              width: 400px;
                              padding: 20px;
                              background-color: #f9f9f9;
                              border: 1px solid #ccc;
                              border-radius: 5px;
                            }
                          </style>
                  <div class="container main">
                    <div class="profile">
                      <form action="/profileEdit?id=<%= userData._id %>" method="post">
                        <div class="mb-3">
                          <label class="form-label" for="nameInput">Enter Your Name</label>
                          <input name="name" value="<%= userData.name %>" type="text" id="nameInput" class="form-control" required>
                        </div>
                  
                        <div class="mb-3">
                          <label class="form-label" for="emailInput">Enter Your Email</label>
                          <input name="email" value="<%= userData.email %>" type="email" id="emailInput" class="form-control" required>
                        </div>
                  
                        <div class="mb-3">
                          <label class="form-label" for="mobileInput">Enter Mobile</label>
                          <input name="mobile" value="<%= userData.mobile %>" type="tel" id="mobileInput" class="form-control" required>
                        </div>
                  
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-refresh"></i> Update Profile</button>
                        </div>
                      </form>
                  
                     
                    </div>
                  </div>
                  
                  
                 
                  
    </body>
    </html>