<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link
      rel="icon"
      type="image/png"
      href="/cartstyle/images/icons/favicon.png"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/bootstrap/css/bootstrap.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/iconic/css/material-design-iconic-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/fonts/linearicons-v1.0.0/icon-font.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/animate/animate.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/css-hamburgers/hamburgers.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/animsition/css/animsition.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/select2/select2.min.css"
    />
    <!--===============================================================================================-->
    <link
      rel="stylesheet"
      type="text/css"
      href="/cartstyle/vendor/perfect-scrollbar/perfect-scrollbar.css"
    />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/cartstyle/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/cartstyle/css/main.css" />
    <!--===============================================================================================-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.16/dist/sweetalert2.all.min.js"></script>
  </head>

  <body class="animsition">
    <!-- Header -->
    <!-- Header -->
    <% if(typeof user !="undefined" ){ %> <%-include('userlogged') %> <%}else{%>
    <%-include('usernotlogged') %> <%}%>

    <!-- Cart -->

    <!-- breadcrumb -->
    <!-- <div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		 --><!-- Shoping Cart -->
    <!-- Shoping Cart -->
    <!-- Shoping Cart -->
    <form class="bg0 p-t-75 p-b-85">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
            <div class="m-l-25 m-r--38 m-lr-0-xl">
              <div class="wishlist-count">
                <% if (items.length === 0) { %> <% } else { %> Number of items
                in wishlist: <%= items.length %> <% } %>
              </div>
              <% if (items.length === 0) { %>
              <div class="empty-wishlist">
                <div class="empty-wishlist-content">
                  <p>Add items to your wishlist by browsing our products</p>
                  <a href="/" class="btn btn-primary">Browse Products</a>
                </div>
              </div>
              <% } else { %>
              <div class="wrap-table-shopping-cart">
                <table class="table-shopping-cart">
                  <tr class="table_head">
                    <th class="column-1">Product</th>
                    <th class="column-2">Name</th>
                    <th class="column-3">Price</th>
                    <th class="column-4">Action</th>
                  </tr>
                  <% items.forEach((item,index) => { %>
                  <tr class="table_row">
                    <td class="column-1">
                      <div class="how-itemcart1">
                        <img src="uploads/<%= item.images[0] %>" alt="IMG" />
                      </div>
                    </td>
                    <td class="column-2"><%= item.productName %></td>
                    <td class="column-3">$ <%= item.price %></td>
                    <td class="column-4">
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Action buttons"
                      >
                        <button
                          class="btn btn-primary btn-add-to-cart"
                          onclick="addToCart('<%=item._id%>')"
                        >
                          <i class="icon-cart-plus"></i> Add to Cart
                        </button>

                      </div>
                    </td>
                    <td class="column-4">
                      <div class="btn-group" role="group" aria-label="Action buttons">
                       
                        <button
																						style="border:none;background-color:white;"
																						onclick="removeWishlist('<%= item._id %>')">
																						<a href="" class="text-muted">
																							<i class="fa fa-trash-o"
																								style="font-size:36px;color:rgb(190, 0, 0)"></i>
																						</a>
																					</button>
                      </div>
                    </td>
                    
                    
                    
                  </tr>
                  <% }) %>
                </table>
              </div>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </form>

    <style></style>

    <style>
      .wishlist-count {
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
      }

      .table-shopping-cart {
        width: 100%;
        border-collapse: collapse;
      }

      .table_head th {
        padding: 15px;
        text-align: left;
        background-color: #f2f2f2;
        color: #333;
        font-weight: 500;
      }

      .table_row td {
        padding: 15px;
        border-bottom: 1px solid #f2f2f2;
      }

      .how-itemcart1 img {
        max-width: 100px;
        max-height: 100px;
        object-fit: contain;
      }

      .btn-group {
        display: flex;
        gap: 10px;
      }

      .btn.btn-primary {
        background-color: #4caf50;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn.btn-primary:hover {
        background-color: #45a049;
      }

      .btn.btn-danger {
        background-color: #ff4c4c;
        color: #fff;
        border: none;
        padding: 8px 16px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn.btn-danger:hover {
        background-color: #e60000;
      }
    </style>

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Categories</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Women </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Men </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Shoes </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Watches </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Help</h4>

            <ul>
              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Track Order
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> Returns </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04">
                  Shipping
                </a>
              </li>

              <li class="p-b-10">
                <a href="#" class="stext-107 cl7 hov-cl1 trans-04"> FAQs </a>
              </li>
            </ul>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">GET IN TOUCH</h4>

            <p class="stext-107 cl7 size-201">
              Any questions? Let us know in store at 8th floor, 379 Hudson St,
              New York, NY 10018 or call us on (+1) 96 716 6879
            </p>

            <div class="p-t-27">
              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-facebook"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-instagram"></i>
              </a>

              <a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                <i class="fa fa-pinterest-p"></i>
              </a>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 p-b-50">
            <h4 class="stext-301 cl0 p-b-30">Newsletter</h4>

            <form>
              <div class="wrap-input1 w-full p-b-4">
                <input
                  class="input1 bg-none plh1 stext-107 cl7"
                  type="text"
                  name="email"
                  placeholder="email@example.com"
                />
                <div class="focus-input1 trans-04"></div>
              </div>

              <div class="p-t-18">
                <button
                  class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04"
                >
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="p-t-40">
          <div class="flex-c-m flex-w p-b-18">
            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-01.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-02.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-03.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-04.png" alt="ICON-PAY" />
            </a>

            <a href="#" class="m-all-1">
              <img src="images/icons/icon-pay-05.png" alt="ICON-PAY" />
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
      </span>
    </div>

    <!--===============================================================================================-->
    <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/bootstrap/js/popper.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/select2/select2.min.js"></script>
    <script>
      $(".js-select2").each(function () {
        $(this).select2({
          minimumResultsForSearch: 20,
          dropdownParent: $(this).next(".dropDownSelect2"),
        });
      });
    </script>
    <!--===============================================================================================-->
    <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
      $(".js-pscroll").each(function () {
        $(this).css("position", "relative");
        $(this).css("overflow", "hidden");
        var ps = new PerfectScrollbar(this, {
          wheelSpeed: 1,
          scrollingThreshold: 1000,
          wheelPropagation: false,
        });

        $(window).on("resize", function () {
          ps.update();
        });
      });
    </script>
    <script>
    const removeWishlist = async (productId, index) => {
  try {
    const response = await fetch("/removefromwishlist", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({
        productId: productId,
        index: index,
      }),
    });

    const data = await response.json();

    if (response.ok) {
      // If the response was successful, reload the page
      window.location.reload();
    } else {
      // Handle the error response
      console.error(data.message);
    }
  } catch (error) {
    console.error(error);
  }
};


      const addToCart = async (productId) => {
        try {
          const response = await fetch("/addtocart", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ productId: productId }),
          });

          const data = await response.json();
          if (data.message) {
            window.location.reload();
            Swal.fire({
              icon: "success",
              title: "Success!",
              text: data.message,
              showConfirmButton: false,
              timer: 10000,
              iconHtml: '<i class="fa fa-check-circle"></i>', // Custom success icon
              customClass: {
                title: "swal-title",
                content: "swal-text",
              },
            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: "Error: Item could not be added to cart",
              showConfirmButton: false,
              timer: 3000,
              iconHtml: '<i class="fa fa-times-circle"></i>', // Custom error icon
              customClass: {
                title: "swal-title",
                content: "swal-text",
              },
            });
          }
        } catch (error) {
          console.log(error);
          Swal.fire({
            icon: "error",
            title: "Error!",
            text: "Error: An error occurred",
            showConfirmButton: false,
            timer: 3000,
            iconHtml: '<i class="fa fa-times-circle"></i>', // Custom error icon
            customClass: {
              title: "swal-title",
              content: "swal-text",
            },
          });
        }
      };
    </script>
    <!--===============================================================================================-->
    <script src="js/main.js"></script>
  </body>
</html>
